* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #d3d3d3;
}

nav .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav .nav_links span i {
    font-size: 30px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90.5vh;
}

.main .side_menu {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: scroll;
    padding: 20px 0;
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.main .side_menu input {
    margin-right: 10px;
}

.main .side_menu ul li {
    list-style: none;
    margin-bottom: 10px;
}

.main .blog_cards {
    width: 80%;
    text-align: center;
    overflow-y: scroll;
}

.head {
    margin: 20px;
}

.cards {
    width: 100%;
}

.button {
    background-color: #ff8a31;
    border: 0 solid #e2e8f0;
    border-radius: 24px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 17.6px;
    font-weight: 600;
    line-height: 1;
    padding: 16px 25.6px;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-color: #ff9e54;
    color: #fff;
}

.btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111827;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.btn:hover {
    background-color: rgb(249, 250, 251);
}

.search-btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111827;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.search-btn:focus {
    outline: 2px solid #ff8a31;
    box-shadow: 0 0 5px rgba(255, 138, 49, 0.5);
}

/* cards */

.cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 5px;
    width: 25%;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);
    transition: transform .3s linear;
}

.card .card-img {
    width: 100%;
    height: 50%;
}

.card .card-img img {
    width: 100%;
    height: 100%;
}

.card .card-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 40%;
    padding: 5px;
}

.card-text a {
    text-decoration: none;
    color: #ff8a31;
    text-align: left;
}

.card-text p {
    font-weight: 500;
    font-size: 13px;
}

.card .card-footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.card .card-footer p {
    font-size: 13px;
    font-weight: 500;

}